body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#previewArea {
  margin-top: 30px;
}
